HELP.md
build/
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/bin

### Gradle ###
.gradle

### Logs ###
*.log

### Claude Code ###
.claude/settings.json
.claude

### Allure ###
allure-results

### Finder ###
.DS_Store
